// .nar {
//     background-color: lightcoral;
//     background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
// }
@import "../../global.scss";

.nar {
    background-color: #1e191a;
    // background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;

//   @include mobile{
//     justify-content: space-around;
//   }


  h1 {
    margin-top: 1.5%;
        font-size: 40px;
        // text-shadow: rgba(40, 139, 219, 0.042) 0px 54px 55px, rgba(45, 135, 232, 0.092) 0px -12px 30px, rgba(82, 152, 232, 0.071)0px 4px 6px,rgba(166, 240, 63, 0.137) 0px 12px 13px,rgba(226, 114, 92, 0.069) 0px -3px 5px;
        color: white;

    // @include mobile{
    //   font-size: 20px;
    // }
  }

  .container {
    width: 100%;
    height: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;

    // @include mobile{
    //   flex-direction: column;
    //   height: 100%;
    // }

    .card {
      width: 250px;
      height: 70%;
      background-color: white;
      border-radius: 10px;

      border: 0.5px groove rgba(69, 122, 168, 0.48);
      box-shadow: rgba(191, 176, 136, 0.636) 2px 1px 4px 0px, #e3b67c -2px -1px 4px 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      margin: 0 20px;
      transition: all 1s ease;
      border: 1px solid #55342a;
//                     // border: 1px solid black;
background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526);

        // animation: mymove 10s infinite;
        // @keyframes mymove {
        //       0% {
        //         background-color: rgb(249, 249, 249);
        //       }
        //       17% {
        //         background-color: rgb(239, 249, 239);
        //       }
        //       35% {
        //         background-color: rgb(229, 244, 229);
        //       }
        //       50%{
        //         background-color: rgb(219, 249, 222);
        //       }
        //       65% {
        //         background-color: rgb(229, 249, 229);
        //       }
        //       83% {
        //         background-color: rgb(239, 249, 239);
        //       }
        //       100% {
        //         background-color: rgb(249, 249, 249);
        //       }
        // }

    //   @include mobile{
    //     height: 180px;
    //     margin: 10px 0;
    //   }

    //   &.featured{
        //   width: 300px;
        //   height: 75%;
        //   margin: 0 30px;

        //   @include mobile{
        //     width: 250px;
        //     height: 180px;
        //     margin: 1px;
        //   }
    //   }

      &:hover{
          transform: scale(1.10);
          box-shadow: rgba(50, 50, 93, 0.638) 0px 10px 0px -40px, rgba(0, 0, 0, 0.697) 0px 1px 0px -6px, rgba(10, 37, 64, 0.828) 0px -1px 6px 0px inset;
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
          &.left,
          &.right {
            height: 60px;
            // width: 60px;
            border-radius: 50%;
            // margin: 0 10px;
            // margin-left: 10px;
            // width: 60px;
          }
          &.user {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            object-fit: cover;
            // margin: 0 30px;

            // @include mobile{
            //   width: 30px;
            //   height: 30px;
            // }
          }
        }
      }

      .center {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: #de9e48;

        h3 {
          // font-weight: 400;
          
          margin-bottom: 3%;
          // width: 100%;
          border-radius: 20%;
          // text-shadow: rgba(40, 139, 219, 0.183) 0px 54px 55px, rgba(45, 135, 232, 0.209) 0px -12px 30px, rgba(82, 152, 232, 0.188)0px 4px 6px,rgba(166, 240, 63, 0.227) 0px 12px 13px,rgba(226, 114, 92, 0.147) 0px -3px 5px;
        //   @include mobile{
        //     font-size: 14px;
        //   }
        }
        h4{
            color: #d4b792;
            margin: 0.5% 0;
            // @include mobile{
            //   font-size: 13px;
            // }
        }
        h5{
          margin: 1% 0;
          text-align: center;
          color: rgb(121, 115, 115);
          color: #92bfd4;
          // width: 95%;
          // @include mobile{
          //   font-size: 13px;
          // }
        }
        
        // @include mobile{
        //   font-size: 12px;
        //   padding: 5px;
        // }
      }
      .bottom {
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(250, 244, 245);

      }
    }
  }
  .motion{
    // border: 2px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0%;
    .changeu{
        // position: absolute;
        // bottom: 10px;
        margin-left: 2%;
        

        img{
            width: 35px;
            transform: rotate(-180deg);
            animation: arrowBlink 2s infinite;
        }
        @keyframes arrowBlink {
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        } 
    }
.changed{
    // position: absolute;
    // bottom: 10px;
    // margin-left: 90%;
    
    margin-right: 2%;
    img{
        width: 35px;
        animation: arrowBlink 2s infinite;
    }
    @keyframes arrowBlink {
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    } 
}
}
}