@import "../../global.scss";


.portfolio {

        // background-color: whitesmoke;
        // background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
        background-color: #1e191a;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .one{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 89%;
            width: 98%;
            // @include mobile {
            //     flex-direction: column;
            // }
            // border: 1px solid black;
            .first{
                margin: 0px 20px;
                height: 91%;
                width: 400px;
                // background-color: rgb(90, 230, 162);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                .about{
                    color: white;
                    height: 65%;
                    width: 95%;
                    border: 2px solid #de9e48;
                    text-align: center;
                    h2{
                        font-size: 35px;
                        margin: 6%;
                    }
                    p{
                        font-size: small;
                        margin: 6%;
                    }
                    // background-color: white;
                }
            }
            .second{
                margin: 0px 20px;
                height: 91%;
                width: 450px;
                background-image: url(https://i.pinimg.com/564x/04/89/2a/04892a8f239022ba032c73fb355f3aaf.jpg);
                @include mobile {
                    display: none;
            }
            }
            .third{
                margin: 0px 20px;
                height: 91%;
                width: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .tech{
                    height: 63%;
                    width: 95%;
                    color: white;
                    // background-color: #3e413a;
// background: rgba(229, 189, 113, 0.21);
// border-radius: 2px;
// box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
// backdrop-filter: blur(6.6px);
// -webkit-backdrop-filter: blur(6.6px);
border: 1px solid #55342a;
//                     // border: 1px solid black;
background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                    // text-align: center;
                    h2{
                        font-size: 30px;
                        margin: 10%;
                        // text-align: center;
                    }
                    .ts{
                        margin: 10%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        font-size: 17px;

                        .ll{
                            font-weight: 500;
                            // border: 1px solid black;
                            // padding: 10px;
                            // margin-left: 20px;
                            margin-right: 65px;
                            p{
                                margin-bottom: 9px;
                            }
                        }
                        .rr {
                            font-weight: 500;
                            // border: 1px solid blue;
                            // padding: 10px;
                            p{
                                margin-bottom: 9px;
                            }
                        }
                        
                        }
                    }
                }
                .design{
                    height: 34%;
                    width: 95%;
                    color: white;
//                     background-color: rgb(246, 199, 205);
//                     background: rgba(226, 179, 91, 0.21);
// border-radius: 2px;
// box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
// backdrop-filter: blur(6.6px);
// -webkit-backdrop-filter: blur(6.6px);
// border: 1px solid rgba(226, 179, 91, 0.43);
border: 1px solid #55342a;
background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                    // text-align: center;
                    h2{
                        font-size: 30px;
                        margin: 10%;
                        margin-bottom: 5%;

                        // text-align: center;
                    }
                    .ts{
                        margin: 0% 10%;
                        margin-bottom: 7%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        font-size: 18px;

                        .ll{
                            font-weight: 500;
                            // border: 1px solid black;
                            // padding: 10px;
                            // margin-left: 20px;
                            margin-right: 65px;
                            p{
                                margin-bottom: 6px;
                            }
                        }
                        .rr {
                            font-weight: 500;
                            // border: 1px solid blue;
                            // padding: 10px;
                            p{
                                margin-bottom: 6px;
                            }
                        }
                        
                        }
                    }                 
                }

                .motion{
                            // border: 2px solid black;
                            // margin-top: 3%;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .changeu{
                                // position: absolute;
                                // bottom: 10px;
                                margin-left: 2%;
                                
                        
                                img{
                                    width: 35px;
                                    transform: rotate(-180deg);
                                    animation: arrowBlink 2s infinite;
                                }
                                @keyframes arrowBlink {
                                    50%{
                                        opacity: 1;
                                    }
                                    100%{
                                        opacity: 0;
                                    }
                                } 
                            }
                        .changed{
                            // position: absolute;
                            // bottom: 10px;
                            // margin-left: 90%;
                            
                            margin-right: 2%;
                            img{
                                width: 35px;
                                animation: arrowBlink 2s infinite;
                            }
                            @keyframes arrowBlink {
                                50%{
                                    opacity: 1;
                                }
                                100%{
                                    opacity: 0;
                                }
                            } 
                        }


            }
        }