@import "../../global.scss";

// .portfolio {
//     background-color: whitesmoke;
//     background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-around;
//     h1{
//         margin-top: 10px;
//     }
//     .con{
//         // border: 1px solid black;
//         padding: 20px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
    
//         .left{
//             height: 400px;
//             width: 600px;
//             // margin-left: 250px;
//             margin-right: 20px;
//             display: flex;
//             align-items: flex-start;
//             justify-content: center;
//             flex-direction: column;
//             box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
//             // border: 1px solid red;
//             // padding: 1% 4%;
//             padding: 20px 40px;
//             h2 {
//                 margin-bottom: 60px;
//             }
//             p{
                
//             }

//         }
//         .right{
//             height: 400px;
//             width: 600px;
//             // border: 1px solid blue;
//             margin-left: 20px;
//             display: flex;
//             align-items: flex-start;
//             justify-content: center;
//             flex-direction: column;
//             padding: 20px 40px;
//             box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
//             .skill {
//                 margin-bottom: 40px;
//             }
//             .items {
//                 // height: 100%;
//                 width: 100%;
//                 display: flex;
//                 flex-direction: row;
//                 align-items: center;
//                 justify-content: center;
//                 margin-bottom: -20px;
//                 // flex-wrap: wrap;
//                 .lang{
//                     margin-right: 20px;
                    
//                     height: 230px;
//                     width: 150px;
//                     // background-color: white;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     flex-direction: column;
                    
//                     h3{
//                         border-radius: 1px;
//                         text-align: center;
//                         width: 100px;
//                         border-style: none solid solid solid;
//                         border-color: $mainColor;
//                         border-width: 1px;
//                         margin: 8px 0px;
//                         transition: 1s all ease;
//                         padding: 0px 15px;
//                         font-size: 20px;
//                         &:hover{
//                             background-color: rgb(115, 163, 225);
//                             transform: scale(1.1);
//                             // color: rgb(188, 205, 225);
//                         // box-shadow: rgba(50, 50, 93, 0.638) 0px 10px 0px -40px, rgba(0, 0, 0, 0.697) 0px 1px 0px -6px, rgba(10, 37, 64, 0.828) 0px -1px 6px 0px inset;
//                         }
//                     }
                        
//                 }
//                 .webd{
//                     margin: 0px 20px;
                    
//                     height: 230px;
//                     width: 150px;
//                     // background-color: white;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     flex-direction: column;
                    
//                     h3{
//                         margin: 8px 0px;
//                         font-size: 20px;
//                         transition: 1s all ease;
//                         padding: 0px 15px;
//                         border-radius: 1px;
//                         text-align: center;
//                         width: 100px;
//                         border-style: none solid solid solid;
//                         border-color: $mainColor;
//                         border-width: 1px;
//                         &:hover{
//                             background-color: rgb(115, 163, 225);
//                             transform: scale(1.1);
//                             // box-shadow: rgba(50, 50, 93, 0.638) 0px 10px 0px -40px, rgba(0, 0, 0, 0.697) 0px 1px 0px -6px, rgba(10, 37, 64, 0.828) 0px -1px 6px 0px inset;
//                             }
//                     }
                   
//                 }
//                 .ext{
//                     margin: 0px 20px;
                    
//                     height: 230px;
//                     width: 240px;
//                     // background-color: white;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     flex-direction: column;
                    
//                     h3{
//                         margin: 8px 0px;
//                         transition: 1s all ease;
//                         padding: 0px 15px;
//                         font-size: 20px;
//                         border-radius: 1px;
//                         text-align: center;
//                         width: 180px;
//                         border-style: none solid solid solid;
//                         border-color: $mainColor;
//                         border-width: 1px;
//                         &:hover{
//                             background-color: rgb(115, 163, 225);
//                             transform: scale(1.1);
//                             // box-shadow: rgba(50, 50, 93, 0.638) 0px 10px 0px -40px, rgba(0, 0, 0, 0.697) 0px 1px 0px -6px, rgba(10, 37, 64, 0.828) 0px -1px 6px 0px inset;
//                             }
//                     }
                    
//                 }
//                 // h4 {
//                 //     background-color: white;
//                 //     display: flex;
//                 //     align-items: center;
//                 //     justify-content: center;
//                 //     margin-right: 20px;
//                 //     margin-bottom: 10px;
//                 //     padding: 10px;
//                 //     width: 40px;
//                 //     height: 40px;
//                 //     border-radius: 5px;
//                 //     // box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
//                 //     border-color: $mainColor;
//                 //     border-width: 0.5px;
//                 //     border-style: none none solid none;
//                 //     transition: 1s all ease;
                    
//                 //     &:hover{
//                 //         transform: scale(1.11);
//                 //         background-color: aqua;
//                 //         // box-shadow: rgba(50, 50, 93, 0.638) 0px 10px 0px -40px, rgba(0, 0, 0, 0.697) 0px 1px 0px -6px, rgba(10, 37, 64, 0.828) 0px -1px 6px 0px inset;
//                 //         }
//                 //     }

//             }
//         }
//         // .items {
//         //     display: flex;
//         //     flex-direction: row;
//         //     align-items: center;
//         //     justify-content: flex-start;
//         //     flex-wrap: wrap;
//         //     font-size: 75%;
//         //     // border: 1px solid black;
//         //     width: 95%;
//         //     padding: 1%;
            
//         //     h4 {
//         //         margin: 1% 0%;
//         //         margin-right: 2%;
//         //         border-radius: 5px;
//         //         box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
//         //         padding: 1%;
//         //         border-color: $mainColor;
//         //         border-width: 0.5px;
//         //         border-style: none none solid none;
//         //         transition: 1s all ease;
            
//         //         &:hover{
//         //             transform: scale(1.11);
//         //             background-color: aqua;
//         //             // box-shadow: rgba(50, 50, 93, 0.638) 0px 10px 0px -40px, rgba(0, 0, 0, 0.697) 0px 1px 0px -6px, rgba(10, 37, 64, 0.828) 0px -1px 6px 0px inset;
//         //         }
//         //     }
//         // }

//     }

        

//     }
//     .motion{
//         // border: 2px solid black;
//         // margin-top: 3%;
//         width: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         .changeu{
//             // position: absolute;
//             // bottom: 10px;
//             margin-left: 2%;
            
    
//             img{
//                 width: 45px;
//                 transform: rotate(-180deg);
//                 animation: arrowBlink 2s infinite;
//             }
//             @keyframes arrowBlink {
//                 50%{
//                     opacity: 1;
//                 }
//                 100%{
//                     opacity: 0;
//                 }
//             } 
//         }
//     .changed{
//         // position: absolute;
//         // bottom: 10px;
//         // margin-left: 90%;
        
//         margin-right: 2%;
//         img{
//             width: 45px;
//             animation: arrowBlink 2s infinite;
//         }
//         @keyframes arrowBlink {
//             50%{
//                 opacity: 1;
//             }
//             100%{
//                 opacity: 0;
//             }
//         } 
//     }
// }




.portfolio {

        background-color: whitesmoke;
        background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .one{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 89%;
            width: 98%;
            // border: 1px solid black;
            .first{
                margin: 0px 20px;
                height: 91%;
                width: 400px;
                // background-color: rgb(90, 230, 162);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                .about{
                    height: 65%;
                    width: 95%;
                    border: 1px solid black;
                    text-align: center;
                    h2{
                        font-size: 35px;
                        margin: 10%;
                    }
                    p{
                        font-size: small;
                        margin: 10%;
                    }
                    // background-color: white;
                }
            }
            .second{
                margin: 0px 20px;
                height: 91%;
                width: 450px;
                background-image: url(https://images.pexels.com/photos/5380590/pexels-photo-5380590.jpeg?auto=compress&cs=tinysrgb&w=600);
            }
            .third{
                margin: 0px 20px;
                height: 91%;
                width: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .tech{
                    height: 63%;
                    width: 95%;
                    background-color: rgb(240, 214, 208);
                    // border: 1px solid black;
                    // text-align: center;
                    h2{
                        font-size: 30px;
                        margin: 10%;
                        // text-align: center;
                    }
                    .ts{
                        margin: 10%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        font-size: 17px;

                        .ll{
                            font-weight: 500;
                            // border: 1px solid black;
                            // padding: 10px;
                            // margin-left: 20px;
                            margin-right: 65px;
                            p{
                                margin-bottom: 9px;
                            }
                        }
                        .rr {
                            font-weight: 500;
                            // border: 1px solid blue;
                            // padding: 10px;
                            p{
                                margin-bottom: 9px;
                            }
                        }
                        
                        }
                    }
                }
                .design{
                    height: 34%;
                    width: 95%;
                    background-color: rgb(246, 199, 205);
                    // text-align: center;
                    h2{
                        font-size: 30px;
                        margin: 10%;
                        margin-bottom: 5%;

                        // text-align: center;
                    }
                    .ts{
                        margin: 0% 10%;
                        margin-bottom: 7%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        font-size: 18px;

                        .ll{
                            font-weight: 500;
                            // border: 1px solid black;
                            // padding: 10px;
                            // margin-left: 20px;
                            margin-right: 65px;
                            p{
                                margin-bottom: 6px;
                            }
                        }
                        .rr {
                            font-weight: 500;
                            // border: 1px solid blue;
                            // padding: 10px;
                            p{
                                margin-bottom: 6px;
                            }
                        }
                        
                        }
                    }                 
                }

                .motion{
                            // border: 2px solid black;
                            // margin-top: 3%;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .changeu{
                                // position: absolute;
                                // bottom: 10px;
                                margin-left: 2%;
                                
                        
                                img{
                                    width: 45px;
                                    transform: rotate(-180deg);
                                    animation: arrowBlink 2s infinite;
                                }
                                @keyframes arrowBlink {
                                    50%{
                                        opacity: 1;
                                    }
                                    100%{
                                        opacity: 0;
                                    }
                                } 
                            }
                        .changed{
                            // position: absolute;
                            // bottom: 10px;
                            // margin-left: 90%;
                            
                            margin-right: 2%;
                            img{
                                width: 45px;
                                animation: arrowBlink 2s infinite;
                            }
                            @keyframes arrowBlink {
                                50%{
                                    opacity: 1;
                                }
                                100%{
                                    opacity: 0;
                                }
                            } 
                        }


            }
        }