@import "..//..//global.scss";

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background-color: #ece4e4;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 15vw; /* Could be more or less, depending on screen size */
    height: 20vh;
    @media screen and (max-width: 950px){
        width: 40vw;
        height: 25vw;
    }
  }


.contact {
    background-color: #1e191a;
    // background: linear-gradient(90deg, #d9e7ff 0%, #e3ffe7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .wrap {
        width: 100%;
        height: 100%;      
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: royalblue;
        margin-top: -4%;
        @media screen and (max-width: 900px){
            flex-direction: column;
            margin: 3vw;
            padding: 3vw;
        }

        .left{
            margin-top: 2.5vw;
            padding: 3vw 4vw;
            width: 600px;
            height: 400px;
            z-index: 1;
            background-color: rgb(224, 240, 233);
            border-radius: 3%;
            box-shadow: rgba(14, 30, 37, 0.191) 0px 2px 4px 0px, rgba(14, 30, 37, 0.426) 0px 2px 16px 0px;
            @media screen and (max-width: 1024px){
                width: 60vw;
                height: 40vw;
            }
            @media screen and (max-width: 900px){
                margin: 1vw;
                padding: 1vw;
                width: 80%;
                height: 55vw;
                // align-items: center;
                // justify-content: center;
            }

            h2 {
                font-size: 30px;
                margin-top: 5px;
                margin-bottom: 20px;
            }
            form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                input {
                    background-color: rgb(213, 235, 240);
                    width: 420px;
                    height: 30px;
                    padding: 5px; 
                    padding-left: 10px;
                    font-size: 14px;
                    border: 0.1px solid $mainColor;
                    margin-bottom: 15px;
                    border-radius: 2px;
                    color: black;
                    @media screen and (max-width: 1024px){
                        width: 42vw;
                        height: 3vw;
                    }
                    @media screen and (max-width: 900px){
                        height: 3vw;
                        width: 80%;
                        // align-items: center;
                        // justify-content: center;
                    }
                    @media screen and (max-width: 500px){
                        // margin: 1vw;
                        height: 5vw;
                        // align-items: center;
                        // justify-content: center;
                    }
                }
                textarea {
                    background-color: rgb(213, 235, 240);
                    color: black;
                    width: 420px;
                    height: 150px;
                    padding: 5px; 
                    padding-left: 10px;
                    font-size: 14px;
                    border: 0.1px solid $mainColor;
                    margin-bottom: 20px;
                    border-radius: 2px;
                    @media screen and (max-width: 1024px){
                        width: 42vw;
                        height: 15vw;
                    }
                    @media screen and (max-width: 900px){
                        height: 5vw;
                        width: 80%;
                        // align-items: center;
                        // justify-content: center;
                    }
                    @media screen and (max-width: 500px){
                        // margin: 1vw;
                        height: 8vw;
                        // align-items: center;
                        // justify-content: center;
                    }
                }
                
                    button:hover{cursor: pointer}
                    button {
                    //   margin-left: 286px;
                      background: $mainColor;
                      outline: none;
                      position: relative;
                      border: 2px solid #111;
                      border-radius: 5px;
                      padding: 12px 20px;
                      overflow: hidden;
                      @media screen and (max-width: 1024px){
                        
                      }
                    }
                
                    *, *:before, *:after{
                        box-sizing: border-box;
                        padding: 0; margin: 0;
                        // font: 300 1em/1.5 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                      }

                    /*button:before (attr data-hover)*/
                    button:hover:before{opacity: 1; transform: translate(0,0);}
                    button:before{
                      content: attr(data-hover);
                      position: absolute;
                      top: 1.1em; left: 0;
                      width: 100%;
                      text-transform: uppercase;
                      letter-spacing: 3px;
                      font-weight: 800;
                      font-size: .8em;
                      opacity: 0;
                      transform: translate(-100%,0);
                      transition: all .8s ease-in-out;
                    }
                      /*button div (button text before hover)*/
                      button:hover div{opacity: 0; transform: translate(100%,0)}
                      button div{
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        font-weight: 800;
                        font-size: .8em;
                        transition: all .8s ease-in-out;
                      }
            }
        }
        .right{
            border-radius: 3%;
            margin-left: -170px;
            margin-top: 10%;
            z-index: 2;
            padding: 30px;
            width: 300px;
            height: 380px;
            background-color: rgb(68, 61, 61);
            color: white;
            box-shadow: rgba(14, 30, 37, 0.201) 0px 2px 4px 0px,rgba(14, 30, 37, 0.338) 0px 2px 16px 0px;
            transition: all 1s ease;
            @media screen and (max-width: 1024px){
                width: 30vw;
                height: 35vw;
            }
            @media screen and (max-width: 900px){
                margin: 0;
                padding: 0;
                width: 80vw;
            }
            &:hover {
                transform: scale(1.02);
            }

            @media screen and (max-width: 900px){
                // margin: 1vw;
                padding: 1vw;
                width: 80%;
                height: 35vw;
                // align-items: center;
                // justify-content: center;
            }

            h2 {
                font-size: 30px;
                margin: 35px 15px;
                @media screen and (max-width: 1024px){
                    margin: 3vw 1vw;
                    font-size: 28px;
                }
            }
            p {
                font-size: 15px;
                font-weight: 500;
                margin-bottom: 30px;
                margin: 30px 15px;
                @media screen and (max-width: 1024px){
                    margin: 2.8vw 1vw;
                    font-size: 14px;
                }
            }
            .container{
                display: flex;
                // color: $mainColor;
                align-items: center;
                flex-direction: row;
                justify-content: flex-start;
                font-size: 13px;
                margin: 0px 10px;
                margin-bottom: 20px;
                h4 {
                    font-weight: 400;
                }
                .icon{
                    margin-right: 15px;
                }
                @media screen and (max-width: 1024px){
                    font-size: 12px;
                }
            }
        }
    }
    .motion{
        // border: 2px solid black;
        // margin-top: 3%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .changeu{
            // position: absolute;
            // bottom: 10px;
            margin-left: 2%;
            
    
            img{
                width: 35px;
                transform: rotate(-180deg);
                animation: arrowBlink 2s infinite;
            }
            @keyframes arrowBlink {
                50%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                }
            } 
        }
    .changed{
        // position: absolute;
        // bottom: 10px;
        // margin-left: 90%;
        
        margin-right: 2%;
        img{
            width: 35px;
            animation: arrowBlink 2s infinite;
        }
        @keyframes arrowBlink {
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        } 
    }


}
    
}