@import "../../global.scss";

.works {
  background-color: #1e191a;
  // background: linear-gradient(90deg, #d9e7ff 0%, #e3ffe7 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 30px;
    position: absolute;
    cursor: pointer;

    // @include mobile {
    //   display: none;
    // }

    &.left {
      left: 100px;
      transform: rotate(90deg);
    }

    &.right {
      transform: rotate(270deg);
      right: 100px;
    }
  }

  .slider {
    height: 500px;
    // width: 100vw;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    // @include mobile {
    //   height: 100vh;
    //   flex-direction: column;
    //   justify-content: center;
    // }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 70vw;
        height: 89%;
        margin-top: -1%;
        background-color: rgb(224, 240, 233);
        // background-color: white;
        // box-shadow: rgba(50, 50, 93, 0.638) 0px 80px 0px -40px, rgba(0, 0, 0, 0.697) 0px 80px 0px -40px, rgba(10, 37, 64, 0.828) 0px -2px 6px 0px inset;
        // border: 2px solid #de9e48;
        box-shadow: rgba(50, 50, 93, 0.638) 0px 10px 0px -40px, rgba(0, 0, 0, 0.697) 0px 1px 0px -6px, rgba(10, 37, 64, 0.828) 0px -1px 6px 0px inset;

        // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        // animation: mymove 5s infinite;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s ease;
        padding: 20px;
        @include mobile{
          width: 50vw;
          height: 50vw;
          // margin: 10px;
          // padding: 10px;
        }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include mobile{
            // width: 50vw;
            height: 90%;
            // margin: 10px;
            // padding: 10px;
          }
          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(245, 179, 155);
              display: flex;
              align-items: center;
              justify-content: center;

            //   @include mobile {
            //     width: 20px;
            //     height: 20px;
            //   }

              img {
                width: 30px;

                // @include mobile {
                //   width: 15px;
                // }
              }
            }
            h2 {
              font-size: 20px;

            //   @include mobile{
            //     font-size: 13px;
            //   }
            }
            p {
              font-size: 13px;
            //   @include mobile{
            //     display: none;
            //   }
            @media screen and (max-width: 600px){
              display: none;
              // margin: 10px;
              // padding: 10px;
            }
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: none;
              cursor: pointer;
              a{
                color: black;
                text-decoration: none;
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 95%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 650px;
            // transform: rotate(-10deg);
          }
        }
      }
    }
  }
  .motion{
    // border: 2px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    // bottom: 0;
    // top: 10;
    @media screen and (max-width: 1024px){
      margin-bottom: -22vh;
    }
    .changeu{
        // position: absolute;
        // bottom: 10px;
        margin-left: 2%;
        margin-top: 37%;
        

        img{
            width: 35px;
            transform: rotate(-180deg);
            animation: arrowBlink 2s infinite;
        }
        @keyframes arrowBlink {
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        } 
    }
.changed{
    // position: absolute;
    // bottom: 10px;
    // margin-left: 90%;
    margin-top: 37%;
    margin-right: 2%;
    img{
        width: 35px;
        animation: arrowBlink 2s infinite;
    }
    @keyframes arrowBlink {
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    } 
}
}
}